    main{
        padding: 0 15px 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


 /* 메인 소제목  */
  .main-subtitle {background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);}

  .main-subtitle--blue {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%)}
  
  .main-subtitle--green {background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%)}

  .main-subtitle--coral {background-image: linear-gradient(to right, #FF5F6D 0%, #FFC371  51%, #FF5F6D  100%)}

  .main-subtitle--insta {background-image: linear-gradient(to right, #fc00ff 0%, #00dadee8  51%, #fc00ff  100%)}

  .main-subtitle--black {background-image: linear-gradient(to right, #232526 0%, #736c79  51%, #232526  100%)}

  .main-subtitle--MoonPurple {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
  
  






  
  .main-subtitle {
    padding: 10px 20px;
    margin: 35px 0 15px 0;
    background-size: 200% auto;
    color: #fff;            
    font-size: 17px;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
   }

  

/* 메인소제목 밑 사진,글 박스 */
.main-content{
    display: flex;
    flex-direction: column;
}

/* 메인컨텐츠 사진 */
 .main-content img{
     width: 100%;
     border-radius: 10px;
     box-shadow: 0 0 #0000 ,0 0 #0000,0 0 #0000 ,0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
 }

 /* 메인컨텐츠 텍스트박스 */
.main-content__text{
    /* margin: 15px 0 0 0; */
    padding: 15px;
    font-size: 16px;
    line-height: 25px;
    background-color: #efefef34;
    border-radius: 10px;
    box-shadow: 0 0 #0000 ,0 0 #0000,0 0 #0000 ,0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}
/* 텍스트박스 안 배경색 효과 */
.main-content__text span{
    display: inline-block;
    font-size: 17px;
    font-family: 'Eulyoo1945-SemiBold';
    background-color: rgba(255, 255, 0, 0.5);
    margin: 10px 0;
}
.main-content__text span.textRed{
    background-color: rgba(255, 0, 0, 0.192);
    font-size: 13px;
    margin: 2px 0;
}
.main-content__text .spanMargin0{
    margin: 0 3px;
}
.main-content__text .margin--0{
    margin: 0 0 5px 0;
}





/* 메인컨텐츠 진행절차 */
.main-content__text__procedure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 15px;
}
.main-content__text__procedure__circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(106, 199, 236, 0.274);
    font-family: 'Eulyoo1945-SemiBold';
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-content__text__procedure i{
    margin: 0 10px;
}
.circle--green{
    background-color: rgba(106, 236, 128, 0.274);
}



   /* 페이지 안에서 이동 */
   .main-pageMove--coral{
    display: flex;
    justify-content: center;
    font-size: 16px;
    flex-wrap: wrap;
    text-align: center;
}
.main-pageMove--coral p{
    padding: 10px;
    border: 1px solid #efefef;
    min-width: 155px;
}
.main-pageMove--coral p:hover{
    background-color: #FF7263;
    color: #fff;
    transition: 0.5s;
}
.main-pageMove--insta p:hover{
    background-color: #ec1bc2d7;
    color: #fff;
    transition: 0.5s;
}
.main-pageMove--black p:hover{
    background-color: #2c2c2cd7;
    color: #fff;
    transition: 0.5s;
}