
.mobile-main-logo{
    padding: 20px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    color: #efefef;
}
.mobile-main-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-main-logo img{
    width: 13%;
    padding-right: 3px;
}
.mobile-main-logo span{
    font-family: 'WandohopeB';
    font-size: 26px;
}


.mobile-main-logo i {
    font-size: 24px;
    color: #efefef;
    padding: 10px;
}



