/* common file */
@import url(common-parts/main-logo-m.css);
@import url(common-parts/sideSlide-show-logo-m.css);
@import url(common-parts/header-and-nav-m.css);
@import url(common-parts/main-contents-m.css);
@import url(common-parts/footer-m.css);




/* screens */
@import url(screens/background-video-m.css);
@import url(screens/introduction-m.css);


/* 폰트링크 */
@font-face {
    font-family: 'WandohopeB';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
}
@font-face {
    font-family: 'Eulyoo1945-SemiBold';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Eulyoo1945-Regular';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body{
    color: #111;
    font-family: 'Eulyoo1945-Regular';
    height: 100vh;
}


/* pc버젼에선 나와야하나 모바일에서 지워야할것들 */
.Swiper-wrap{
    display: none;
}
nav{
    display: none;
}








